@import url(reset-css.css);

.productwrap {
  padding: 40px 0;
}

/************** 사이드바 **************/
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: fixed;
  right: 0;

  width: 250px;
}

.category {
  display: flex;
  gap: 10px;
  color: rgb(137, 137, 137);
  font-size: 12px;
  cursor: pointer;
}

.category li + li::before {
  content: '/';
  padding-right: 10px;
}

.category,
.description {
  font-weight: 700;
}

.description {
  font-size: 15px;
}

.links li {
  border: 1.5px solid #000;
  text-align: center;
}

/************** 이미지 **************/
.imgdetail {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
