/* Custom */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

button,
input,
textarea {
  /* font-family: ; */
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

button,
input,
textarea {
  padding: 0;
  border: none;
  background-color: transparent;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
